

<div class="todo_container">
  <h1>Take Control over your tasks</h1>
  <div class="todo_add_task_container">
    <input type="text" placeholder="insert your task"
           [(ngModel)]="newTaskTitle" (keyup.enter)="addTask(newTaskTitle)">
    <button (click)="addTask(newTaskTitle)">Add task to your list <i class="fab fa-angular"></i></button>
  </div>
   <div class="todo_list_container">
     <ul>
       <li  *ngFor="let task of tasks">
         <div *ngIf="!task.completed; then NotCompleted else Completed"></div>
         <ng-template #NotCompleted>
           <p>{{task.id}}. {{ task.title }}</p>
         </ng-template>
         <ng-template #Completed>
           <p class="done">{{task.id}}. {{ task.title }}</p>
         </ng-template>
           <button (click)="deleteTask(task.id)" class="delete">Delete</button>
           <button (click)="doneTask(task, $event)">Completed</button>
       </li>
     </ul>
   </div>
  <button class="remove" (click)="removeCompletedTasks()">Remove completed tasks</button>
</div>

<router-outlet></router-outlet>
